

<div class="container col-md-8" style="margin-top:20px;">
  <label>
    <input  class="form-control" type="file" (change)="selectFile($event)">
  </label>
  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
</div>

<div class="container col-md-12">
  <div class="card">
  <div class="card-header">Fichiers uploadés </div>
    <div class="card-body">
      <table class="table table-striped">
       <thead>
         <tr>
           <th>FileName</th><th>type</th><th>Download</th>
         </tr>
       </thead>
        <tbody>
          <tr *ngFor="let fil of data" >
            <td>{{fil.fileName}}</td>
            <td>{{fil.fileType}}</td>
            <td><a class="btn btn-success" href="{{fil.filedownloadUri}}">Download</a></td>
          </tr>
        </tbody>
      
      </table>

    </div>
  </div>


</div>

<router-outlet></router-outlet>
